h1 {

  font-family: 'Lora', serif;
  font-size: 40px;
  color: #034bbf;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #034bbf;
}

.completedClass {
  color: red;
}

.todo {
  font-family: 'Montserrat', sans-serif;
}

#newTask {
  height: 20px;
  width: 500px;
}

.notDone {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #034bbf;
}

.done {
  height: 1px;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

tr {
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 150px;
  /*border-color: #034bbf;*/
  /*border-bottom: 2px;*/
}

/*table{
  border-style: groove;
  border-color: #034bbf;
}*/

body {
  background-color: #f9f6f2;
}
