h1 {

  font-family: 'Lora', serif;
  font-size: 40px;
  color: #034bbf;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #034bbf;
}

.todo {
  font-family: 'Montserrat', sans-serif;
}

#newTask {
  height: 20px;
  width: 500px;
}

th {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #034bbf;
}

tr {
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  width: 150px;
}

body {
  background-color: #f9f6f2;
}
